@import '../../../../assets/scss/variables.scss';

.navbar {
  color: $bold-color;

  .menu-list { 
    width: 100%;

    >.list-item {
      padding-left: 35px;
      min-height: 20px;
    }

    .electronics {
      background-image: url('../../../../assets/images/sidebar-img/electronics_icon.svg');
    }

    .other {
      background-image: url('../../../../assets/images/sidebar-img/Vector.svg');
    }

    ._active_elec-img {
      background-image: url('../../../../assets/images/sidebar-img/electro_icon.svg');
      background-position: 7px 0px;
      background-repeat: no-repeat;
    }

    ._active_other-img {
      background-image: url('../../../../assets/images/sidebar-img/dres-active.svg');
      background-position: 7px 0px;
      background-repeat: no-repeat;
    }

    .electronics,
    .other {
      background-position: 7px 0px;
      background-repeat: no-repeat;
    }

    .holder-ico {
      position: absolute;
      top: 7px;
      right: 10px;

      .ico-arr,
      ._rotate{
        width: 12px;
        height: 7px;
      }
    }

    .inner-menu {
      padding-left: 5px;
      color: $main-color-light;
      display: none;
    }

    ._opened {
      display: block;
    }

    .list-item {
      padding-right: 10px;

      .item-link {
        width: 100%;
        display: inline-block;
        cursor: pointer;
      }

      .item-link:hover {
        fill: $blue-bg;
        opacity: 0.5;
        text-decoration: none;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
      }
    }

    ._rotate {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
    }

  }

}
