<nav class="navbar pl-0 pb-0 ">

  <ul 
    class="menu-list " 
    [class]="item.type"
  >
    <li class="list-item mb-2" 
      [class]="item.type  === 'other' ? 'other' : 'electronics' "
      (click)="dropMenu()"
      #forIco
    >

      <a class="item-link mb-2">
        {{ item.title }}

        <span class="holder-ico">
          <svg [class]="isActive ? '_rotate' : 'ico-arr'">
            <use [attr.fill]=" isActive ? '#6699FF' : '#99CC00' "
              xlink:href="assets/images/sidebar-img/sprite.svg#arr_down-ico">
            </use>
          </svg>
        </span>
      </a>

      <ul class="inner-menu" #navdrop >
        <li 
          class="list-item" 
          *ngFor="let good of item.goods"
        >
          <a class="item-link mb-2">
            {{ good }}
          </a>

        </li>
      </ul>

    </li>
  </ul>

</nav>
