<div class="wrapper" >

  <ng-select
    class="selectpicker" 
    [class]="option.type"  
    [items]="option.options"
    bindLabel="title" 
    bindValue="title"
    [(ngModel)]="option.type === 'language' ? option.options[0].title : option.title"
    [clearable]= false
    [searchable]= false
  >
  </ng-select>

  <span class="list-ico">
    <svg class="icon">
      <use xlink:href="/assets/images/sidebar-img/sprite.svg#arr_down-ico"></use>
    </svg>
  </span>

</div>
