@import '../../../../../assets/scss/variables.scss';

.wrapper {
  position: relative;

  .selectpicker {
    background: $bg-wite;
    border: $border;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    min-width: 80px;
    margin-right: 10px;
    line-height: 21px;
    border-bottom: 0px;

    &.categoris {
      width: 160px;
    }

    &.location {
      width: 210px;
      background-image: url('../../../../../assets/images/filters-img/location_icon.svg');
    }

    &.distance {
      width: 120px;
      background-image: url('../../../../../assets/images/filters-img/radius_icon.svg');
    }

    &.location,
    &.distance {
      padding-left: 20px;
      background-repeat: no-repeat;
      background-position: 7px 45%;
    }

    &.currency {
      width: 70px;
    }

    &.price {
      width: 95px;
    }

    &.status {
      width: 115px;
    }

  }

  .list-ico {
    position: absolute;
    top: 20px;
    right: 16px;

    .icon {
      width: 12px;
      height: 7px;
    }
  }

}

::ng-deep {

  .wrapper {
    .selectpicker {

      &.categoris+.list-ico,
      &.distance+.list-ico,
      &.status+.list-ico {
        fill: $green-bg;
      }

      &.location+.list-ico {
        fill: $blue-bg;
      }

      &.currency+.list-ico,
      &.price+.list-ico {
        fill: $warn-bg;
      }
    }

  }
  
  ng-select {
    .location,
    .distance {
      left: 10px;
    }

    &.ng-select-opened+.list-ico{
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
    }
     
    .ng-value-container {
      width: 100%;
      padding: 16px 10px ;
      cursor: pointer;
    }

    .ng-dropdown-panel {
      background: $bg-wite;
      position: absolute;
      display: inline-block;
      width: 100%;
      left: 0px;
      margin-bottom: 10px;
      padding: 10px;
      color: #6c757d;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      .ng-option:hover {
        opacity: .5;
        color: #007bff;
      }
    }

  }

}
