$main-bg: #F5F5F5;
$warn-bg: #FF6600;
$blue-bg: #6699FF;
$green-bg: #99CC00;
$bg-wite: #fff;
$main-color: #2C2C2C;
$main-color-light: rgba(0, 0, 0, 0.6);
$bold-color: #000000;
$svg-bg: #CACACA;
$main-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
$activebox-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$border: 1px solid #E4E4E4;
$headerColor: #C4C4C4;
$select-language: #BDBDBD;
$user-main_color: #99CC00;
$border-btn: 1px solid rgba(0, 0, 0, 0.1);
$shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-select: 0px 4px 10px rgba(0, 0, 0, 0.15);