<div class="card d-flex flex-column">
  <div class="card-header">
    <div class="holder-img">
      <img 
        class="image-map"
        src="../../../../assets/images/user-card-img/map.jpg" alt="picture: map"
      >
    </div>

    <div class="holder-address">
      <span class="address-data"> {{ user.address }} </span><br>
      <a class="address-link" href="#">Show on Map</a>
    </div>

  </div>

  <div class="card-body p-0">
    <div class="holder-avatar">
      <img 
        class="user-avatar" 
        src="{{ user.avatar }}" alt="user-avatar"
      >
    </div>
    <h4 class="title text-center">{{ user.name }}</h4>
  </div>
  
  <div class="card-footer p-0">
    <div class="holder-info-user">
      <img 
        class="login-ico" 
        src="../../../../assets/images/user-card-img/login-svg.svg" 
        alt="picture: login-ico"
      >
      <span>ID: {{ user.id }}</span>
    </div>
  </div>

  <div class="bg"></div>

  <div class="card-footer p-0">
    <div class="holder-watchers">
      <img 
        class="watcher-ico" 
        src="../../../../assets/images/user-card-img/eye.svg" 
        alt="picture: watchers-ico"
      >
      <span>{{ user.watchers }}</span>
    </div>
  </div>

</div>
