@import "../../../../assets/scss/variables.scss";

.card {
  width: 240px;
  border: none;
  border-radius: 12px;
  background: $bg-wite;
  overflow: hidden;
  position: relative;


  .card-header {
    position: relative;
    background: $bg-wite;
    padding: 10px;
    border-bottom: none;
  }

  .image-map {
    width: 220px;
    height: 140px;
  }

  .holder-address {
    background: $bg-wite;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 170px;
    padding: 5px 11px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 20px;

    .address-data {
      display: inline-block;
    }

    .address-link {
      color: #6699FF;
    }
  }

  .holder-address::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
    border: solid transparent;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
  }

  .holder-avatar {
    width: 110px;
    height: 110px;
    object-fit: cover;
    margin: auto;
    position: relative;
    top: -55px;
    margin-bottom: 15px;

    .user-avatar {
      background: $bg-wite;
      width: 110px;
      height: 110px;
      text-align: center;

      border: 1px solid $user-main_color;
      padding: 8.5px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }


  .card-body {
    background-image: url('../../../../assets/images/user-card-img/bg-image.png');
    background-repeat: no-repeat;
    background-position: 0% 100%;

    .title {
      margin-top: -55px;
      margin-bottom: 45px;
    }
  }

  .card-footer {
    background: $user-main_color;
    border-top: none;
    color: $bg-wite;
    margin-top: -1px;

    .holder-info-user {
      padding: 17px 20px;

      .login-ico{
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 17px;
      }
    }

    .holder-watchers {
      padding: 17px 20px;

      .watcher-ico {
        width: 22px;
        height: 22px;
        display: inline-block;
        margin-right: 15px;
      }
    }

  }

  .bg {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

}