<footer class="footer pt-4">

  <div class="holder-img">
    <img class="footer-img" 
        src="../../../assets/images/footer-img/city_graphic.svg" 
        alt="picture: city ​​attractions">
  </div>

  <div class="footer-body d-flex">

    <div class="footer-copirate">
      <span class="footer-text">Copyright @ 2020. All rights reserved.</span> <br/>
      <span class="footer-text">Designed by 
        <span >BlackCatTech</span>
      </span>
    </div>

    <div class="download-controll d-flex justify-content-between">
      <div class="controll-text">
        <span class="text">Haven’t download our app yet?</span><br/>
        <span class="text-extra">Start using it wright now!</span>
      </div>

      <a href="https://itunes.apple.com/app/apple-store/id740469631/?pt=3132803&ct=fullversion&at=1000l3MB&mt=8">
        <img src="../../../assets/images/footer-img/appstore.svg" alt="AppStore" target="_blank">
      </a>

      <a href="https://play.google.com/store/apps/details/?id=ua.com.rozetka.shop&referrer=utm_source%3Dfullversion%26utm_medium%3Dsite%26utm_campaign%3Dfullversion">
        <img src="../../../assets/images/footer-img/googleplay.svg" 
        alt="Google Play"
        target="_blank">
      </a>

    </div>

  </div>
  
  
</footer>