@import "../../../assets/scss/variables.scss";

.footer {
  line-height: 20px;

  .holder-img {
    margin-bottom: 80px;
  }

  .footer-body {
    padding-left: 55px;
    padding-right: 55px;
  }

  .footer-copirate {
    max-width: 385px;
    margin-right: auto;

    .footer-text {
      display: inline-block;
      margin-bottom: 7px;

      span {
        color: $warn-bg;
      }
    }

  }

  .download-controll {
    width: 630px;

    .controll-text {
      text-align: right;

      .text {
        display: inline-block;
        margin-bottom: 7px;
      }

      .text-extra {
        text-transform: uppercase;
        font-weight: 700;
        color: $green-bg;
      }
    }

  }
}