@import '../../../../assets/scss/variables.scss';

.sidebar-filter {
  width: 240px;
  background: $bg-wite;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-right: 27px;

  .title {
    border-radius: 10px 10px 0px 0px;
    background: $green-bg;
    font-weight: 500;
    font-size: 16px;
  }

}