@import "../../../assets/scss/variables.scss";

.header {
  padding: 0px 32px 32px 32px;
  color: $headerColor;
  background: $bg-wite;
  margin-bottom: 60px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

  .header-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 17px;

    .holder-aps-info {
      margin-bottom: 14px;

      .pretitle {
        text-transform: uppercase;
        margin-right: 21px;
      }

      .android-ico {
        width: 16px;
        height: 19px;
        fill: #99CC00;
        margin-right: 18px;
      }

      .apple-ico {
        width: 15px;
        height: 19px;
        fill: #D8D8D8;
      }
    }

    .select-language {
      width: 110px;
      margin-left: auto;
      position: relative;

      .list-ico {

        .icon {
          width: 12px;
          height: 7px;
        }
      }
    }
  }

  .header-body {

    .holder-logo {
      width: 165px;
      height: 60px;
      display: inline-block;
      margin-right: 50px;
    }

    .filter-item {
      margin-right: 29px;
    }

    .input-group {
      width: 330px;
      margin-right: 20px;

      .search-input {
        display: inline-block;
        flex-grow: 1;
        padding: 11px 12px;
        border: none;
        background: $main-bg;
        outline: none;

        border-radius: 5px 0px 0px 5px;
        -webkit-border-radius: 5px 0px 0px 5px;
        -moz-border-radius: 5px 0px 0px 5px;
        -ms-border-radius: 5px 0px 0px 5px;
        -o-border-radius: 5px 0px 0px 5px;

        &:focus {
          border: 1px solid $green-bg;
        }
      }

      .btn-search {
        display: inline-block;
        border: none;
        padding: 12px 16px;
        background: #99CC00;

        border-radius: 0px 5px 5px 0px;
        -webkit-border-radius: 0px 5px 5px 0px;
        -moz-border-radius: 0px 5px 5px 0px;
        -ms-border-radius: 0px 5px 5px 0px;
        -o-border-radius: 0px 5px 5px 0px;

        .search {
          width: 17px;
          height: 16px;
        }
      }
    }
  }

  .user-group {
    margin-left: auto;

    .link-item {
      display: inline-block;
      position: relative;
      margin-left: 40px;
    }

    .counter {
      display: inline-block;
      position: absolute;
      color: $bg-wite;
      font-size: 12px;
    }

    .link-massege {

      .massege-counter {
        top: -15px;
        right: -18px;
        background: $warn-bg;
        padding: 1px 5px;

        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }

    .link-notification {

      .notification-counter {
        top: -12px;
        right: -27px;
        background: $blue-bg;
        padding: 1px 5px 0px 5px;

        border-radius: 45%;
        -webkit-border-radius: 45%;
        -moz-border-radius: 45%;
        -ms-border-radius: 45%;
        -o-border-radius: 45%;
      }
    }
  }

}

::ng-deep {

  .header {
    .header-top {
      .wrapper {

        ng-select {

          &.language {
            border: none;
          }

          &.language+.list-ico {
            fill: $select-language;
            right: 0px;
            top: 18px;
          }
        }

        ng-dropdown-panel.ng-dropdown-panel.ng-select-bottom {
          width: 116px;
          padding: 15px;
          box-shadow: $shadow-select;
          border-radius: 6px;
          margin-top: -14px;
          font-size: normal;
        }

      }
    }
  }

}

::ng-deep {
  .header {
    .header-body {
      .wrapper {
        ng-select {

          &.sells {
            width: 225px;
            padding-left: 35px;
            background: $warn-bg;
            background-image: url('../../../assets/images/header-img/sall.svg');
            background-repeat: no-repeat;
            background-position: 6%;
          }

          &.sells+.list-ico {
            fill: $bg-wite;
            right: 23px;
            top: 11px;
          }

          &.sells,
          &.allStuf {
            border: none;
            border-radius: 5px;
            color: $bg-wite;
          }

          &.allStuf {
            width: 155px;
            background: $blue-bg;
            padding-left: 45px;
            background-image: url('../../../assets/images/header-img/catalog.svg');
            background-repeat: no-repeat;
            background-position: 15%;
          }

          &.allStuf+.list-ico {
            display: none;
          }

          .ng-value-container {
            padding: 9px 10px;
          }
        }
      }
    }
  }
}
