<header class="header">

  <div class="header-top d-flex">

    <div class="holder-aps-info d-flex align-items-end">
      <span class="pretitle">
        Start using our app right now!
      </span>

      <span>
        <svg class="android-ico">
          <use xlink:href="assets/images/header-img/sprite.svg#android-ico"></use>
        </svg>
      </span>

      <span>
        <svg class="apple-ico">
          <use xlink:href="assets/images/header-img/sprite.svg#apple-ico"></use>
        </svg>
      </span>
    </div>

      <app-select 
        class="select-language"
        *ngFor="let language of languages"
        [option]="language"
      >
      </app-select>

  </div>
  
  <div class="header-body d-flex align-items-center">

    <a class="holder-logo" href="/">
      <img class="logo" src="/assets/images/header-img/Logo.svg" />
    </a>

    <app-select 
      class="filter-item"
      *ngFor="let headerOption of headerOptions"
      [option]="headerOption"
    >
    </app-select>

    <div class="input-group d-flex">
      <input 
        type="text" 
        class="search-input" 
        placeholder="Search ptoducts & services..."
      />

      <button type="button" class="btn-search">
        <img class="search" src="/assets/images/header-img/search-icon.svg"/>
      </button>
    </div>

    <div class="user-group d-flex ">
      <a href="#" class="link-item  link-massege align-self-end">
        <img 
          class="massege-img" 
          src="assets/images/header-img/messaging-icon.svg"
        />
        <span class="counter massege-counter">2</span>
      </a>

      <a href="#" class="link-item link-notification align-self-end">
        <img 
          class="notification-img" 
          src="assets/images/header-img/notification-icon.svg"
        />
        <span class="counter notification-counter">123</span>
      </a>
    </div>

  </div>
  
</header>

