<div class="wrapper">

  <nav class="navigation">
    <ul class="menu-list ">
      <li class="list-item">
        <a class="item-link">Home</a>
        <span class="link-att">/</span>
      </li>
      <li class="list-item">
        <a class="item-link">Fashion & Lifestyle</a>
        <span class="link-att">/</span>
      </li>
      <li class="list-item">
        <a class="item-link">Women’s fashion</a>
        <span class="link-att">/</span>
      </li>
      <li class="list-item">
        <a class="item-link _active"> Dresses</a>
        <span class="link-att">/</span>
      </li>
    </ul>
  </nav>

  <div class="content">

    <div class="content-header d-flex">
      <img class="img-calendar" src="../../../../../assets/images/item-card_img/calendar.svg" alt="calendar">
      <span class="date">{{ date | date:'medium' }}</span>
      <img class="img-share" src="../../../../../assets/images/item-card_img/share.svg" alt="share">
    </div>

    <div class="content-info">
      <h3 class="title">
        {{ itemCard$.title }}
      </h3>
      <p class="price">
        ${{ itemCard$.price }}
      </p>
      <p class="info" #showInfo>
        {{ itemCard$.info }}
      </p>

      <button 
        class="btn-link" 
        (click)="isOpen = !isOpen; 
        isShowInfo()"
      >
        Show full description

        <span class="holder-ico">
          <svg [class]="isOpen ? '_rotate' : 'arrow-ico'" class="arrow-ico">
            <use xlink:href="assets/images/sidebar-img/sprite.svg#arr_down-ico"></use>
          </svg>
        </span>
      </button>
    </div>

    <div class="content-bottom d-flex ">

      <button class="btn-send_massege">
        <img class="massege-ico" src="/assets/images/item-card_img/messaging-icon.svg" alt="messaging-icon">
        <span class="btn-text">send messege</span>
      </button>

      <span class="holder">
        <i class="fa fa-heart "></i>
      </span>

    </div>

  </div>

</div>
