@import '../../../../assets/scss/variables.scss';

.wrapper {
  padding: 20px 32px;

  .navigation {
    color: $main-color-light;
    border-bottom: $border;
    margin-bottom: 37px;

    .menu-list {
      margin-bottom: 18px;

      .list-item {
        display: inline-block;
        margin-right: 10px;

        .item-link {
          margin-right: 10px;

          &:hover {
            text-decoration: none;
          }

          .link-att {
            display: inline-block;
          }
        }
      }
    }
  }

  ._active {
    color: $bold-color;
  }

  .content {
    width: 445px;
    margin-right: 26px;

    .content-header {
      margin-bottom: 30px;
      border-bottom: $border;
      padding-bottom: 19px;
    }

    .img-calendar {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    .date {
      align-self: flex-end;
      color: $main-color-light;
    }

    .img-share {
      width: 22px;
      height: 22px;
      margin-left: auto;
    }

    .content-info {
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: $border-btn;
    }

    .title {
      width: 350px;
      font-weight: bold;
      font-size: 22px;
      line-height: 20px;
      color: $bold-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 30px;
      line-height: 34px;
    }

    .price {
      color: $warn-bg;
      font-weight: 500;
      font-size: 30px;
      line-height: 20px;
      margin-bottom: 30px;
    }

    .info {
      height: 5.5rem;
      overflow: hidden;
      font-size: 16px;
      line-height: 23px;
      margin-bottom: 33px;
    }

    ._opened {
      overflow: visible;
      height: auto;
    }

    .btn-send_massege {
      width: 355px;
      background: $user-main_color;
      color: $bg-wite;
      padding: 10px 10px 10px 10px;
      text-align: center;
      border: none;
      outline: none;
      border-radius: 12px;
      transition: 0.5s;
    }

    .btn-send_massege:hover {
      box-shadow: $shadow;
      transition: 0.5s;
    }

    .massege-ico {
      display: inline-block;
      width: 24px;
      height: 18px;
      margin-right: 10px;
    }

    .btn-text {
      text-transform: uppercase;
    }

    .holder {
      margin-left: auto;
      background: $bg-wite;
      border: $border-btn;
      box-sizing: border-box;
      border-radius: 12px;
      color: $svg-bg;
      padding: 10px 9px;
      transition: 0.5s;
    }

    .holder:hover {
      box-shadow: $shadow;
      transition: 0.5s;
    }

  }

  .btn-link {
    outline: none;
    border: none;
    background: none;
    display: flex;
    width: 180px;
    text-decoration: none;

    .holder-ico {
      display: inline-block;
      margin-left: 6px;

      .arrow-ico {
        fill: #6699FF;
        width: 14px;
        height: 19px;
        display: inline-block;
      }

      ._rotate {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
      }
    }
  }

}
