<div class="wrapper-slider">
  <owl-carousel-o 
    [options]="customOptions"
  >
    <ng-container 
      *ngFor="let slide of slidesStore" 
    >
      <ng-template 
        carouselSlide 
        [id]=" slide.id + '' "
      >
        <img class="item-image" [src]="slide.image"/>
        <p class="item-text">{{ slide.description }}</p>
      </ng-template> 
    </ng-container>
  </owl-carousel-o>
</div>
