@import "../../../../assets/scss/variables.scss";

.wrapper-slider {
  background: $bg-wite;
  position: relative;
  padding: 20px 20px 20px 20px;
  border-top: $border;
  border-bottom: $border;
  margin-bottom: 40px;
}

::ng-deep {

  .owl-nav {
    display: none;
  }

  .owl-item {
    width: 130px !important;
    border-right: $border;
    padding-right: 25px;
    margin-right: 25px;
    overflow: hidden;

    .item-image {
      width: 104px !important;
      height: 104px;
      margin-bottom: 10px;
    }

    .item-text {
      padding: 0px;
      margin: 0px;
      color: $main-color;
    }
  }

  .owl-dots {
    position: absolute;
    top: -60px;
    right: 0;
  }

  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
    background: $green-bg;
  }

}



