@import '../../../../assets/scss/variables.scss';

.main {
  border-bottom: $border;

  .btn-group {
    margin-left: auto;

    .btn-grid {
      padding: 16px 21px;
      border-radius: 10px 10px 0px 0px;

      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;

      &:hover {
        opacity: 0.5;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
      }
    }

    .btn-grid img {
      min-width: 21px; 
      min-height: 21px;
    }

    ._grid {
      background-color: $bg-wite;
      border: 1px solid #E6E6E6;
      border-bottom: none;
    }

    ._active {
      background-color: $warn-bg;
      border: none;
    }
  }

}
