<div class="main d-flex mb-4 p-0 ">

    <app-select 
      class="filter-item" 
      *ngFor="let option of options"
      [option]="option" 
    >
    </app-select>

    <div class="btn-group d-flex ">

      <button class=" _grid btn-grid ">
        <img src="../../../assets/images/filters-img/view_map.svg" />
      </button>

      <button class=" _active btn-grid ">
        <img src="../../../assets/images/filters-img/view_list.svg" />
      </button>

    </div>

</div>
