<app-slider></app-slider>

<div class="wrapper d-flex p-4">
  <app-categories-list></app-categories-list>

  <div class="content ">
    <app-filter-list></app-filter-list>
    <app-card-list >

      <button class="btn-top" 
        (click)="scrollToTopPage()"
      >
      &and;
      </button>

    </app-card-list>
  </div>
  <app-btn-list></app-btn-list>
</div>

