@import'../../../assets/scss/variables.scss';

.wrapper {
  position: relative;
}

.btn-top {
  position: absolute;
  bottom: 20%;
  left: 5%;
  width: 55px;
  display: inline-block;
  height: 30px;
  border: none;
  cursor: pointer;
  background: #FF6600;
  color: $bg-wite;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;

  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
}