<div class="main d-flex flex-column">

  <div class="wrapper d-flex flex-wrap justify-content-between">   

    <app-card 
      *ngFor="let card of cards |
        paginate: { 
          itemsPerPage: 20, 
          currentPage: page 
        }"
      [card]="card"
      (click)="goToItemPage(card, card.id)"
    >
    </app-card>

    <ng-content selected="button"></ng-content>
  </div>
  
  <pagination-controls
    class="align-self-end mt-4" 
    (pageChange)="page = $event"
  >
  </pagination-controls>
 
</div>


