@import '../../../../assets/scss/variables.scss';

.main {
  margin-bottom: 100px;

  .wrapper {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);  
  }

}

::ng-deep {
  pagination-controls {
    .ngx-pagination .current {
      padding: 6px 10px;
      background: $green-bg;

      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    .ngx-pagination li {
      margin-right: 10px;
    }

    .ngx-pagination a:hover {
      padding: 6px 10px;
      background: $green-bg;

      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    .pagination-previous,
    .pagination-next{
      color: #BDBDBD;
    }

    .pagination-previous a:hover,
    .pagination-next a:hover {
      background: inherit;
      color: #000 !important;
    }

  }

}

