@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './assets/scss/variables.scss';
@import '~font-awesome/scss/font-awesome.scss'; 



*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  width: 1280px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.btn {
  color: #000000;
  background-color: $bg-wite;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 1px solid inherit;
  border: 1px solid #E4E4E4;

  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;

  &:hover {
    color: $main-color;
    background-color: #ece7e7;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border: $border;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
}

