<div 
  class="btn-overlay"
  (click)="showMenu()"
>
  <span [class]="isClicked ? '_first-rotate + plus' : 'plus-first + plus'"></span>
  <span [class]="isClicked ? '_second-rotate + plus' : 'plus-second + plus'"></span>

  <ul class="list-item" #menudrop>
    <li class="item">
      <a class="item-link">
        Support
        <span class="holder-ico">
          <i class="fa fa-info-circle"></i>
        </span>
      </a>
    </li>
    <li class="item">
      <a class="item-link">
        Create announce
        <span class="holder-ico">
          <i class="fa fa-camera"></i>
        </span>
      </a>
    </li>
  </ul>
</div>
