@import "../../../../assets/scss/variables.scss";

:host {
  bottom: 5%;
  position: fixed;
  right: 10%;
}

.btn-overlay {
  width: 70px;
  height: 70px;
  background: $green-bg;
  cursor: pointer;
  color: $bg-wite;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .plus {
    position: absolute;
    background: $bg-wite;
    width: 3px;
    height: 45px;
    display: block;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
  }

  .plus-first,
  .plus-second,
  ._first-rotate,
  ._second-rotate {
    top: 18%;
    left: 49%;
  }

  .plus-second {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }

  ._first-rotate {
    transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
  }
  
  ._second-rotate {
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
  }

  .list-item {
    display: none;

    .item {
      padding: 10px 20px;

    }

    .item-link {

      &:hover {
        color: inherit;
      }

      .holder-ico {
        width: 51px;
        display: inline-block;
        height: 51px;
        background: white;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;

        .fa {
          color: $green-bg;
          font-size: 20px;
        }
      }
    }
  }

  ._opened {
    display: flex;
    width: 300px;
    height: auto;
    flex-direction: column;
    position: absolute;
    top: -155px;
    right: -8px;
    text-align: right;
  }
}

