@import '../../../../../assets/scss/variables.scss';

.card {
  width: 170px;
  background-color: $bg-wite;
  border-radius: 10px;
  box-shadow: $main-box-shadow;
  overflow: hidden;
  margin-bottom: 15px;

  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;

  &:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .card-text {
    color: $warn-bg;
  }
  
  .fa-heart {
    font-size: 16px;
    color: $svg-bg;
  }
  
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    margin-top: auto;
  }
}
