 <div class="card">

  <div class="holder-im mb-3">
    <img class="image" src="{{ card.image }}" alt="picture" />
  </div>

  <div class="card-body p-0 ">

    <div class="holder d-flex justify-content-between mb-3">
      <span class="card-text d-inline-block font-weight-bold ml-2">
        {{ card.price }}$
      </span>

      <span class="holder-fa d-inline-block mr-2">
        <i class="fa fa-heart"></i>
      </span>
    </div>

    <p class="description ml-2 mr-2">
      {{ card.description }}
    </p>
  </div>

</div>
